
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

a {
    text-decoration:none;
    color:whitesmoke;
    font-family: "Delius", Oswald;
    font-weight: 900;
    font-style: normal;
}

.container{
    background-color:rgb(13, 17, 23);
    display:flex;
    justify-content:center;
    gap: 30px;
    padding:20px;
}

